body {
    background-color: #e6e6e687;
}

.container {
    max-width: 54%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    border-left: solid 10px #9fcce2;
    font-family: Calibri, "Trebuchet MS", Arial, sans-serif;
    background-color: white;
    height: 100%;
    box-shadow: 20px 20px #cccccc;
    min-height: 85vh;
}

.header-title {
    position: relative;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 10px;
    padding-left: 20px;
    margin-right: -20px;
    text-shadow: 20px 10px #5c7582cc;
    left: -20px;
    background-color: #9fcce2;
    display: inline-block;
    color: white;
    margin-top: 0;
}

.header-title > a {
    text-decoration: none;
    color: inherit;
}

.header-title > a:hover {
    color: inherit;
}

h2, h3, h4 {
    color: #37464e;
    font-family: Tahoma, "Trebuchet MS", Arial, sans-serif;
}

h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.resume-section h4, .github-section h4 {
    display: inline-block;
}

a {
    color: #b7444e;
}

a:hover {
    color: #dc3240;
}

ul.posts-list {
    max-width: 80%;
}
ul.posts-list li {
    margin: 20px 0;
    list-style: none;
}

article {
    font-size: 18px;
    color: #111;
    margin: 35px 110px;
    margin-left: 90px;
    text-align: justify;
}

h4.article-title {
    font-size: 25px;
    font-family: sans-serif;
    color: #b7444e;
}

@media only screen and (max-width: 1350px) {
    .container {
        width: 720px;
        max-width: none;
    }
}

@media only screen and (max-width: 830px) {
    .container {
        width: auto;
        max-width: none;
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width: 650px) {
    article {
        margin-left: 12px;
        margin-right: 31px;
    }
}