.container {
    margin-left: 150px;
    padding-left: 20px;
    border-left: solid 10px #9fcce2;
    font-family: Calibri, "Trebuchet MS", Arial, sans-serif;
}

.header-title {
    position: relative;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: -20px;
    text-shadow: 2px 2px #5c7582;
    left: -20px;
    background-color: #9fcce2;
    display: inline-block;
    color: white;
    margin-top: 0;
}

h2, h3, h4 {
    color: #3c3c3c;
    font-family: Tahoma, "Trebuchet MS", Arial, sans-serif;
}

h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.resume-section h4, .github-section h4 {
    display: inline-block;
}

ul.posts-list li {
    margin: 20px 0;
}

@media only screen and (max-width: 730px) {
    .container {
        margin-left: 0;
    }
}