<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="my-pages">
          <li><a href="#">Home</a></li>
          <li><a href="#">About Me</a></li>
          <li><a href="#">My Projects</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          <li><a href="https://github.com/petukhov">GitHub</a></li>
          <li><a href="https://www.facebook.com/gpetukhov">Facebook</a></li>
          <li><a href="https://www.linkedin.com/pub/georgy-petukhov/3a/846/490
">LinkedIn</a></li>
          <li><a href="https://instagram.com/gpetukhov/">Instagram</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text"> I am a web developer who really likes front-end. Currently I work full-time at Expedia but I am also available for part-time remote work. Shoot me an <a style="text-decoration: underline;"href="mailto:petukhovg@gmail.com" target="_top">email</a></p>
      </div>
    </div>

  </div>

</footer>
